.page-template-templatesdownload-php,
.home {
	.section {
		margin-bottom: 30px;
		border-bottom: 1px solid #eee;
		min-height: 200px;

		&:last-child {
			border: none;
		}

		&.code-section {
			text-align: center;
		}
	}

	.code-text {
		font-size: 18px;
		margin-bottom: 10px;
	}

	.error {
		padding: 10px 20px;
		margin-bottom: 20px;
		width: auto;
		background-color: #fcf2f2;
		border: 1px solid #dFb5b4;;
		border-left: 5px solid #dFb5b4;
		border-color: #dFb5b4;
	}

	//FORMS

form {
	text-align: center;

		input[type=text] {
			background-color: #fef3e0;
			border: 1px solid #ccc;
			font-size: 24px;
			text-align: center;
			color: #a64a08;
			width: 350px;
			height: 35px;
			letter-spacing: 3px;
			text-transform: lowercase;
		}

		.submit {
			margin-top: 15px;
		}
	}
}
